/* -    -   -   -   -
the 4 main classes of a page
-   -   -   -   - */
body{
    background-image: url(../Images/MintBlock32px.svg);
    background-repeat: repeat;
    background-position-x: center;
    /* giving the body a margin of 0 makes every future element hug the site borders */
    margin: 0;
    text-shadow: 0 0 10px var(--mintlightest-color) ;
    /* setting height to vh so it fills the given screen space. */
    /* remember spacing is the sum of all parts one cannot use more than 100% of the space.
    so developing or finding a style for what elements should have box in a box. boxes should auto align themselves inside the container they stay in.
    but boxes should not auto elements around themselves. focusing the use of auto in one direction either outward or inward else empty or unwanted results may happen i think */
    text-align: center;
    /* should fill body with as much details i want as not to repeat myself */
    min-width: 650px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
main{
    flex: 1;
    margin: auto;
    position: relative;
    z-index: 0;
}
footer{
    border-top: dotted 5px var(--mintdarkest-color);
    background-color: var(--mintdark-color);
    color: var(--mintlightest-color);
}
:root{
    --mintdarkest-color: rgb(97,165,117);
    --mintdark-color: rgb(112,183,133);
    --mint-color: rgb(135,209,159);
    --mintlight-color: rgb(151,230,179);
    --mintlightest-color: rgb(182,243,204);
    --mintborder-border: groove 5px var(--mintdarkest-color);
}
section{
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    background-color: var(--mintdark-color);
    border: var(--mintborder-border);
}
